---
import PageLayout from "../layouts/PageLayout.astro";
import { getCollection } from "astro:content";
import { getEpisodePagePath } from "src/lib/utils"

const publishedEpisodeEntries = await getCollection("episodes", ({ data }) => {
  return data.draft !== true;
});

const sortedEpisodeEntries = publishedEpisodeEntries.sort(
  (a, b) => new Date(b.data.publishedAt).valueOf() - new Date(a.data.publishedAt).valueOf()
);
---

<PageLayout title="Episodes">
  <section>
    <header class="mb-4">
      <h1
        class="font-extrabold text-5xl md:text-6xl tracking-tight pt-4 pb-2 overflow-hidden"
      >
        <span
          class="bg-gradient-to-br from-[#fb923c] via-[#f97316] to-[#ea580c] dark:from-primary-main dark:via-primary-main dark:to-primary-main bg-clip-text text-transparent"
        >
          All Episodes
        </span>
      </h1>
      <p class="text-2xl pb-4">Browse our extensive research catalog</p>
    </header>
    <ul>
      {
        sortedEpisodeEntries.map(({ slug, data: episode}) => {
          const formattedDate = new Date(episode.publishedAt).toLocaleString(
            "en-us",
            {
              year: "numeric",
              month: "short",
              day: "numeric",
              timeZone: "UTC",
            }
          );
          return (
            <li class="grid grid-cols-[1fr] md:grid-cols-[1fr_auto] mb-3 md:gap-2 items-start">
              <div class="title">
                <a
                  href={getEpisodePagePath(slug)}
                  class="unset hover:text-text-link"
                  title={episode.tagline}
                >
                  <span class="font-semibold">{episode.episodeNumber}:</span> {episode.title}
                </a>
              </div>
              <div class="text-text-muted text-sm italic">
                <time datetime={episode.publishedAt.toISOString()}>
                  {formattedDate}
                </time>
              </div>
            </li>
          );
        })
      }
    </ul>
  </section>
</PageLayout>
