---
import PageLayout from "../layouts/PageLayout.astro";
import { getCollection } from "astro:content";
import { getEpisodePath } from "src/lib/utils"

const publishedEpisodeEntries = await getCollection("episodes", ({ data }) => {
  return data.draft !== true;
});

const sortedEpisodeEntries = publishedEpisodeEntries.sort(
  (a, b) => new Date(b.data.publishedAt).valueOf() - new Date(a.data.publishedAt).valueOf()
);
---

<PageLayout title="Episodes">
  <section>
    <ul>
      {
        sortedEpisodeEntries.map(({ slug, data: episode}) => {
          const formattedDate = new Date(episode.publishedAt).toLocaleString(
            "en-us",
            {
              year: "numeric",
              month: "short",
              day: "numeric",
              timeZone: "UTC",
            }
          );
          return (
            <li class="grid grid-cols-[1fr] md:grid-cols-[1fr_auto] mb-3 md:gap-2 items-start">
              <div class="title">
                <a
                  href={getEpisodePath(slug)}
                  class="unset hover:text-text-link"
                  title={episode.tagline}
                >
                  {episode.title}
                </a>
              </div>
              <div class="text-text-muted text-sm italic">
                <time datetime={episode.publishedAt.toISOString()}>
                  {formattedDate}
                </time>
              </div>
            </li>
          );
        })
      }
    </ul>
  </section>
</PageLayout>
