---
import { getCollection } from "astro:content";
import PageLayout from "../layouts/PageLayout.astro";
import { PODCAST_TITLE, PODCAST_TAGLINE, PODCAST_EMAIL } from "src/config";
import { getEpisodeCoverArtPath, getEpisodePagePath } from "src/lib/utils";

const publishedEpisodeEntries = await getCollection("episodes", ({ data }) => {
  return data.draft !== true;
});

const sortedEpisodeEntries = publishedEpisodeEntries.sort(
  (a, b) =>
    new Date(b.data.publishedAt).valueOf() -
    new Date(a.data.publishedAt).valueOf()
);

const latestEpisode = sortedEpisodeEntries[0];
---

<PageLayout>
  <section class="mb-8">
    <div class="mb-4">
      <h1
        class="font-extrabold text-5xl md:text-6xl tracking-tight pt-4 pb-2 overflow-hidden"
      >
        <span
          class="bg-gradient-to-br from-[#fb923c] via-[#f97316] to-[#ea580c] dark:from-primary-main dark:via-primary-main dark:to-primary-main bg-clip-text text-transparent"
        >
          {PODCAST_TITLE}
        </span>
      </h1>
      <p class="text-2xl pb-4">{PODCAST_TAGLINE}</p>
    </div>
    <div class="space-y-5">
      <p>
        Hello! Welcome to the website for our podcast. We are 3 young
        students/professionals with backgrounds in Economics, Electrical
        Engineering, and Computer Science in New York. We are interested in the
        possible existence of the paranormal and supernatural. We often hear and
        share stories with each other.
      </p>
      <p>
        We decided to turn those conversations into a podcast you can listen
        along to.
      </p>
      <p>
        Contact us at <a href={"mailto:" + PODCAST_EMAIL}>{PODCAST_EMAIL}</a>.
      </p>
    </div>
    {
      latestEpisode && (
        <div class="rounded-lg flex my-10 bg-gray-100 text-gray-800 max-w-lg">
          <div class="flex-1 flex flex-col py-4 px-7 justify-center">
            <p class="font-semibold">
              <span>Episode {latestEpisode.data.episodeNumber}:</span>{" "}
              <span>{latestEpisode.data.title}</span>
            </p>
            <p>
              <a href={getEpisodePagePath(latestEpisode.slug)}>Listen Now</a>
            </p>
          </div>
          <div>
            <img
              class="h-24 hidden sm:block rounded-tr-lg rounded-br-lg"
              src={getEpisodeCoverArtPath(latestEpisode.slug)}
              alt="Episode thumbnail"
            />
          </div>
        </div>
      )
    }

    <div class="flex space-x-2">
      <a
        class="unset"
        href="https://open.spotify.com/show/15dzhmwVaXot0JDilN0AR7"
      >
        <img
          src="/badges/spotify-podcast-badge-blk-wht-165x40.svg"
          alt="Listen on Spotify"
        />
      </a>

      <a
        class="unset"
        href="https://podcasts.apple.com/us/podcast/wednesday-at-9pm/id1680373413"
      >
        <img
          src="/badges/US_UK_Apple_Podcasts_Listen_Badge_RGB.svg"
          alt="Listen on Apple Podcasts"
        />
      </a>

      <div>
        <a
          href="https://podcasts.google.com/feed/aHR0cHM6Ly93ZWRuZXNkYXlhdG5pbmVwbS5jb20vZmVlZC5yc3M"
        >
          <img
            src="https://www.gstatic.com/podcasts_console/promote/English_EN/EN_Google_Podcasts_Badge.svg"
            width="150"
            height="38"
            alt="Listen on Google Podcasts"
          />
        </a>
      </div>
    </div>
  </section>
</PageLayout>
